* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-image: url(../src/Images/light-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 99vh;
}